@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #353535;
}

/* ----- HOME: CSS ----- */

iframe {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content_wrap {
	width: 900px;
	height: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 10px;
	display: grid;
	grid-template-rows: 150px 50px 1fr 150px;
}

.home__header {
	width: 100%;
	display: flex;
	background-color: #3C6E71;
	color: white;
	border-radius: 8px 8px 0px 0px;
	align-items: center;
	justify-content: center;
}

.home__header h1 {
	font-size: 2em;
	font-weight: 900;
}

.home__nav {
	width: 100%;
	background-color: white;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
	position: relative;
	z-index: 100;
}

.home__nav ul {
	list-style: none;
}

.home__nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #353535;	
}

.title_wrap {
	width: 180px;
	float: left;
	font-weight: bold;
	margin-left: 10px;
}

.title {
	line-height: 50px;
	text-align: center;
	transition: all 0.2 ease;
}

.title:hover {
	color: #3C6E71;
	cursor: pointer;
}

.title ul {
	display: none;
	font-weight: 300;
	font-size: 0.8em;
	text-align: center;
	background-color: white;
	margin: 8px 0px;

}

.link a {
	position: relative;
	left: 36px;
}

.title_wrap > ul > li:hover ul {
	display: block;
	cursor: pointer;
}

.link a:hover {
	font-weight: bold;
	color: #3C6E71;
}

.title_button {
	width: 180px;
	float: right;
	display: flex;
	justify-content: center;
	margin-right: 10px;
}

.title_button a {
	line-height: 50px;
	transition: all 0.2s ease;
	text-decoration: none;
	font-weight: bold;
}

.title_button a:hover {
	color: #3C6E71;
}

#button_home {
	color: #3C6E71;
}

#button_home:hover {
	color: #D9D9D9;
}

.link {
	width: 100px;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 1px;
}

.home__section {
	width: 100%;
	background-color: #D9D9D9;
}

.home__footer {
	width: 100%;
	background-color: #3C6E71;
	display: grid;
	grid-template-columns: 1fr 200px 200px;
	border-radius: 0px 0px 8px 8px;
}

.footer_logo {
	padding: 20px;
	color: #559DA1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 50px;
}

.footer_logo h2 {
	font-size: 2em;
}

.footer_addr {
	padding: 20px;
	margin: 8px;
	color: white;
	font-size: 0.8em;
	font-weight: 200;
}

.footer_addr h3 {
	font-weight: bold;
}

.footer_addr ul {
	list-style: none;
}

/* ----- MAIN DISPLAY: CSS ----- */

.card_wrap {
	width: 650px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #C9C9C9;
	padding: 100px 70px;
}

.card_wrap:hover {
	cursor: help;
}

.card {
	width: 160px;
	height: 100px;
	margin: 10px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
}

.card:hover {
	width: 170px;
	height: 110px;
}

/* ----- FORM: CSS ----- */

.form_container {
	background-color: #3C6E71;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_wrap {
	background-color: white;
	padding: 24px;
	border-radius: 8px;
	width: 600px;
	margin: 50px;
}

.form_wrap header {
	text-align: center;
	margin-bottom: 20px;
}

.form_wrap a {
	text-decoration: none;
	font-weight: 900;
	font-size: 1.6em;
	color: #3C6E71;
}

.form_field {
	background-color: #ECECEC;
	padding: 20px;
	margin-bottom: 18px;
	border-radius: 3px;
}

.form_field legend {
	background-color: #3C6E71;
	color: white;
	font-size: 0.6em;
	padding: 3px 8px;
	border-radius: 3px;
	margin-bottom: 6px;
}


.form_field p {
	font-weight: bold;
	font-size: 0.8em;
	margin-bottom: 8px;
}

.form_field div {
	margin-bottom: 10px;
}

input {
	border-radius: 3px;
	background: #FCFCFC;
	padding: 10px 6px;
}

input:focus {
	background-color: #D9D9D9;
	outline: 2px solid #3C6E71;
}

.input_required input[type=text], input[type=password] {
	width: 100%;
}

.grid_wrap {
	display: grid;
	grid-template-columns: 1fr 80px 1fr;
	column-gap: 10px;
}

#month {
	background: #FCFCFC;
	border-radius: 3px;
	padding: 10px 6px;
}

#month:focus {
	background-color: #D9D9D9;
	outline: 2px solid #3C6E71;
}

.radio_select {
	display: flex;
	align-items: center;
}

.radio_select p {
	margin: 0px 20px 0px 0px;
}

.radio_select input[type=radio] {
	margin-right: 10px;
}

.radio_select label {
	font-size: 0.8em;
	margin-right: 10px;
}

.input_optional span {
	font-size: 0.5em;
	font-weight: lighter;
	color: grey;
}

#skill_select {
	background: #FCFCFC;
	border-radius: 3px;
	padding: 10px 6px;
	width: 100%;
	height: 100px;
}

#skill_select:focus {
	background-color: #D9D9D9;
	outline: 2px solid #3C6E71;
}

::placeholder {
	font-size: 0.8em;
	color: #C9C9C9;
}

button {
	width: 100%;
	padding: 12px;
	color: white;
	font-weight: bold;
	background-color: #3C6E71;
	border-radius: 5px;
	margin-top: 8px;
	transition: all 0.2s ease;
}

button:hover {
	background-color: #2F5759;
	cursor: pointer;
}